.container-header {
	width: 100%;
	background-image: url('../img/header-bg.jpg');
	background-size: 100%;
}
.header {
	width: 900px;
    text-align: center;
    display: block;
    margin: 0 auto;
	h3 {
		font-family: 'Kaushan Script', cursive;
		color: #fed136;
	}
}
.nav {
	&.nav-pills {
		a {
			background-color: transparent;
			color: #fff;
			font-family: 'Montserrat', sans-serif;
			font-size: 12px;
			text-transform: uppercase;
			padding: 30px 10px;
			&:hover {
				border-radius: none;
				background-color: transparent;
			}
		}

	}
}
.jumbotron {
	background-color: transparent;
	text-align: center;
	color: #fff;
		h1 {
			font-family: 'Droid Serif', serif;
			font-style: italic;
			font-size: 32px;
			text-transform: capitalize;
		}
		p {
			font-family: 'Montserrat', sans-serif;
			font-weight: 700;
			font-size: 48px;
			text-transform: uppercase;
		}
		a {
			background-color: #fed136;
			border-radius: 2px;
			font-size: 12px;
			font-family: 'Montserrat', sans-serif;
			border-color: transparent;
		}
}
.container-services {
	text-align: center;
	h2 {
		font-family:'Montserrat', sans-serif;
		font-size: 28px;
		font-weight: 700;
		color: #333;
		text-transform: uppercase;
		padding-top: 100px;
		padding-bottom: 10px;
	}	
	p {
		font-family: 'Droid Serif', serif;
		font-style: italic;
		font-size: 12px;
		color: #666;
	}
		.itemServices {
			margin: 40px 0;
			p {
				font-family: 'Droid Serif', serif;
				font-size: 12px;
				color: #666;
			}
			span {
				border-radius: 50%;
				background-color: #fed136;
				width: 100px;
				height: 100px;
			}
			.icon {
				font-size: 50px;
    			color: #fff;
    			line-height: 100px;
			}
		}
}
.container-portfolio {
	text-align: center;
	background-color: #eeeeee;
	padding: 150px 0 180px 0;
		h2 {
			text-transform: uppercase;
			font-family:'Montserrat', sans-serif;
			font-weight: 700;
			font-size: 38px;
			padding-bottom: 10px;
		}
		p {
			font-family: 'Droid Serif', serif;
			font-style: italic;
			font-size: 16px;
			color: #666;
			padding-bottom: 40px;
			}
	.itemPortfolio {
		figure {
			img {
			width: 100%;
			}
		}
		.txtoItem {
			background-color: #fff;
			padding: 20px;
			margin-bottom: 20px;
			h3 {
				font-family:'Montserrat', sans-serif;
				font-weight: 700;
				font-size: 18px;
				margin: 0;
			}	
			p {
				font-size: 18px;
			}
		}
	}
}
