.container {
	width: 100%;
	background-image: url('../img/header-bg.jpg');
	background-size: 100%;
}
.header {
	width: 900px;
    text-align: center;
    display: block;
    margin: 0 auto;
	h3 {
		font-family: 'Kaushan Script', cursive;
		color: #fed136;
	}
}
.nav {
	&.nav-pills {
		a {
			background-color: transparent;
			color: #fff;
			font-family: 'Montserrat', sans-serif;
			font-size: 12px;
			text-transform: uppercase;
			padding: 30px 10px;
			&:hover {
				border-radius: none;
				background-color: transparent;
			}
		}

	}
}
.jumbotron {
	background-color: transparent;
	text-align: center;
	color: #fff;
		h1 {
			font-family: 'Droid Serif', serif;
			font-style: italic;
			font-size: 32px;
			text-transform: capitalize;
		}
		p {
			font-family: 'Montserrat', sans-serif;
			font-weight: 700;
			font-size: 48px;
			text-transform: uppercase;
		}
		a {
			background-color: #fed136;
			border-radius: 2px;
			font-size: 12px;
			font-family: 'Montserrat', sans-serif;
			border-color: transparent;
		}
}
.container-services {
	text-align: center;
	h2 {
		font-family:'Montserrat', sans-serif;
		font-size: 28px;
		font-weight: 700;
		color: #333;
		text-transform: uppercase;
		padding-top: 100px;
		padding-bottom: 10px;
	}	
	p {
		font-family: 'Droid Serif', serif;
		font-style: italic;
		font-size: 12px;
		color: #666;
	}
		.col-md-4 {
			margin: 40px 0;
			figure {
				img {
					width: 20%;
				}
			}
			p {
				font-family: 'Droid Serif', serif;
				font-size: 12px;
				color: #666;
			}
		}
}
